


@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700&display=swap");

body{
  font-family: "Source Sans Pro", sans-serif;
  margin: 10;
  padding: 10;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  background-image: url("https://wallpapers.com/images/hd/abstract-colorful-wispy-smoke-bfhit23ddy0e6bed.webp");
}

.container{
  width: 100%;
  margin: 1em auto;
  background-color: rgb(166, 166, 166);
}

.grid{
  display: grid;
  margin-left: 1.5px;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 0.2em;
  justify-content: center;
}

h2{
  background-color: antiquewhite;
}
